.NavBar {
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
}

.NavBar .topBarContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.NavBar .topBarContainer img {
  height: 2.6rem;
}
.NavBar .topBarContainer img {
  margin-right: 8rem;
}

.NavBar .topBarContainer a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.NavBar .topBarContainer a:hover {
  opacity: 0.6;
}

.NavBar .headerContent {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
}

.NavBar .headerContent strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.NavBar .headerContent p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

@media (min-width: 700px) {
  .NavBar {
    height: 70px;
  }

  .NavBar .topBarContainer {
    max-width: 1100px;
  }

  .NavBar .headerContent {
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .NavBar .headerContent strong {
    max-width: 350px;
  }
}
